.Rick-and-Morty {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0;
}

//       <CardCharacter key={character.id} character={character} />
//     </div>
//   ))}
// </div>
