@mixin PaginstionButton($size, $background, $font-size, $margin) {
  background: $background;
  width: $size;
  height: $size;
  border-radius: 100%;
  border: 2px solid white;
  color: white;
  font-size: $font-size;
  margin: $margin;
  font-weight: bold;
}
